@charset "UTF-8";
:root {
  /* Основные шрифты */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Фоны */
  --white-theme: #ffffff;
  --secondary-theme: #f5f4fa;
  --dark-background: #2f303a;
  /* Цвета текста */
  --main-text: #212121;
  --gray-text: #757575;
  --white-text: #ffffff;
  /* Эфект hover */
  --blue-hover: #2196f3;
  /*Фон кнопки  */
  --blue-bnt: #2196f3;
  --accent-color: #2196f3;
  /* cubic */
  --cubic-anm: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--white-theme);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ececec;
  }
}

.container__header {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .container__header {
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav__header {
  display: flex;
  align-items: center;
  color: var(--main-text);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.icon {
  color: var(--blue-hover);
}

/* Navigation */
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .nav__item {
    margin-right: 50px;
    position: relative;
  }
  .nav__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    color: var(--main-text);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms var(--cubic-anm);
  }
  .nav__link:hover, .nav__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .current {
    color: var(--blue-hover);
  }
}

@media screen and (min-width: 1200px) {
  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--blue-bnt);
    position: absolute;
    border-radius: 2px;
    top: 275%;
  }
}

@media screen and (min-width: 768px) {
  .contact__list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contact__list {
    display: flex;
    margin-left: 250px;
  }
}

@media screen and (min-width: 768px) {
  .contact__item {
    margin-right: 50px;
  }
  .contact__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .contact__link {
    display: flex;
    align-items: center;
    color: var(--gray-text);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: color 250ms var(--cubic-anm);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--blue-hover);
  }
}

@media screen and (min-width: 768px) {
  .contact__icon {
    fill: var(--gray-text);
    margin-right: 10px;
    transition: fill 250ms var(--cubic-anm);
  }
  .contact__link:hover .contact__icon,
  .contact__link:focus .contact__icon {
    fill: var(--blue-hover);
  }
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  z-index: 10;
  background-color: #ffffff;
  border: transparent;
  outline: transparent;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__icon {
  width: 44px;
  height: 44px;
}

.menu-btn__icon-open {
  opacity: 1;
}

.menu-btn__icon-close {
  opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-open {
  opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-close {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(0);
    transition: transform 250ms var(--cubic-anm);
  }
  .mobile-menu.is-open {
    visibility: visible;
    pointer-events: initial;
  }
}

@media screen and (max-width: 767px) {
  .mobile-nav__list {
    padding-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-nav__item {
    margin-bottom: 32px;
  }
  .mobile-nav__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .mobile-nav__link {
    color: var(--main-text);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .mobile-contact {
    margin-top: auto;
  }
}

@media screen and (max-width: 767px) {
  .mobile-contact__list {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-contact__item {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-contact__mail {
    color: var(--gray-text);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .mobile-contact__phone {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-social__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .mobile-social__item {
    margin-right: 10px;
    margin-bottom: 48px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-social__item:last-child {
  margin-right: 0;
  border-right: 0;
}

@media screen and (max-width: 767px) {
  .mobile-social__link {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .mobile-social__link {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-contact__list {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-contact__item {
    margin-bottom: 10px;
  }
  .mobile-contact__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact__link {
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    margin-right: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--blue-bnt);
    position: absolute;
    border-radius: 2px;
    top: 310%;
  }
}

.hero {
  background-color: var(--dark-background);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

@media not all, (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media not all, screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero@2x.jpg);
  }
}

@media not all, screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  margin-top: 30px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  background: var(--blue-bnt);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic-anm), visibility 250ms var(--cubic-anm);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 100%;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic-anm);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms var(--cubic-anm);
}

.modal-close__btn:focus, .modal-close__btn:hover {
  fill: var(--accent-color);
}

.modal-close__icon {
  width: 18px;
  height: 18px;
}

.form__title {
  display: block;
  color: var(--main-text);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .form__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
}

.form__field:nth-child(6) {
  margin-bottom: 20px;
}

.form__label {
  color: var(--gray-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 4px;
  cursor: pointer;
}

.form__icon {
  position: absolute;
  top: 30px;
  left: 12px;
}

.form__item {
  outline: none;
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--cubic-anm);
}

.form__input {
  outline: none;
  padding: 11px;
  cursor: pointer;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic-anm);
  resize: none;
}

.form__input:nth-last-child(2) {
  padding-top: 12px;
  padding-left: 16px;
}

.form__input:focus, .form__input:hover {
  border-color: var(--blue-hover);
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: var(--blue-hover);
}

.form__icon:hover {
  fill: var(--blue-hover);
}

.checkbox {
  color: var(--gray-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox__input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.checkbox__icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  color: #212121;
  border: solid 2px #212121;
  border-radius: 2px;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--blue-hover);
  border-radius: 2px;
  border-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
}

.checkbox__input:focus + .checkbox__icon {
  border-color: #2196f3;
}

.condition {
  color: #2196f3;
  text-decoration: underline;
}

.form-send__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-text);
  padding: 10px 55px;
  cursor: pointer;
  border: none;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.content {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .content {
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .content__list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .content__item {
    margin-right: 30px;
  }
  .content__item:last-child {
    margin-right: 0;
  }
}

.box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
}

.box-icon__feature {
  width: 70px;
  height: 70px;
}

.content__subtitle {
  color: var(--main-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .content__subtitle {
    display: flex;
    justify-content: center;
  }
}

.content__text {
  color: var(--gray-text);
  line-height: 1.71;
  margin-top: 10px;
}

@media screen and (max-width: 1199px) {
  .image-works {
    display: none;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.main-title {
  color: var(--main-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.image__list {
  display: flex;
}

.image__item {
  margin-right: 30px;
}

.image__item:last-child {
  margin-right: 0;
}

.image-thumb {
  z-index: 1;
  position: relative;
}

.image-thumb__pic {
  display: block;
}

.image-thumb__text {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  transform: translate(-50%, 0);
  left: 50%;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  bottom: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: var(--secondary-theme);
}

.main-title {
  text-align: center;
}

.team__avatar {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  background-color: var(--white-theme);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
  }
}

.team__item:last-child {
  margin-right: 0;
}

.team-frame {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-frame__name {
  color: var(--main-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-frame__text {
  color: var(--gray-text);
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 28px;
}

.team-frame .team-frame__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-frame__item {
  margin-right: 10px;
}

.team-frame__item:last-child {
  margin-right: 0;
}

.team-frame__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic-anm);
}

.team-frame__link:hover, .team-frame__link:focus {
  background-color: var(--accent-color);
}

.team-frame__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms var(--cubic-anm);
}

.team-frame__link:hover .team-frame__icon,
.team-frame__link:focus .team-frame__icon {
  fill: var(--white-theme);
}

.company__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.company__item {
  margin-right: 30px;
  margin-bottom: 30px;
  height: 92px;
  width: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .company__item {
    width: calc((100% - 90px) / 4);
  }
}

@media screen and (min-width: 1200px) {
  .company__item {
    width: calc((100% - 150px) / 7);
  }
}

.company__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: border-color 250ms var(--cubic-anm);
}

.company__link:hover, .company__link:focus {
  border-color: var(--blue-hover);
}

.company__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--cubic-anm);
}

.company__link:hover .company__icon,
.company__link:focus .company__icon {
  fill: var(--blue-hover);
}

.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer-container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

.footer-contact__tablet {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-contact__tablet {
    flex-direction: column;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-contact__tablet {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contact {
    margin-right: 165px;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact__list {
    margin-bottom: 60px;
  }
}

.footer-contact__link {
  color: var(--white-text);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: block;
  margin-bottom: 20px;
}

.footer-contact__address {
  color: var(--white-text);
  line-height: 1.71;
  font-style: normal;
  margin-bottom: 9px;
}

.footer-contact__item {
  margin-bottom: 9px;
}

.footer-contact__item:last-child {
  margin-bottom: 0;
}

.footer-contact__section {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  transition: color 250ms var(--cubic-anm);
}

.footer-contact__section:hover, .footer-contact__section:focus {
  color: var(--blue-hover);
}

@media screen and (min-width: 1200px) {
  .social-media {
    margin-left: 70px;
  }
}

.social-media__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-media__list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .social-media__list {
    margin-bottom: 60px;
  }
}

.social-media__item {
  margin-right: 10px;
}

.social-media__item:last-child {
  margin-right: 0;
}

.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--cubic-anm);
}

.social-media__link:hover, .social-media__link:focus {
  background-color: var(--blue-hover);
}

.social-media__icons {
  fill: var(--white-text);
}

@media screen and (min-width: 1200px) {
  .form-footer {
    margin-left: 93px;
  }
}

.form-footer__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-box {
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .form-box {
    flex-direction: column;
  }
}

.form-box__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  width: 450px;
  height: 50px;
  outline: none;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .form-box__input {
    margin-right: 10px;
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .form-box__input {
    margin-bottom: 20px;
  }
}

.form-box__icon {
  position: absolute;
  right: 150px;
  bottom: 12px;
}

@media screen and (min-width: 768px) {
  .form-box__icon {
    right: 295px;
  }
}

@media screen and (min-width: 1200px) {
  .form-box__icon {
    right: 28px;
  }
}

.form-box__item {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.form-box__submit {
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--blue-bnt);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 62px;
  padding-bottom: 10px;
  padding-left: 29px;
  cursor: pointer;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button__item {
  margin-right: 8px;
}

.button__item:last-child {
  margin-right: 0;
}

.button__dropdown {
  padding: 4px 20px;
  border: none;
  color: var(--main-text);
  cursor: pointer;
  background-color: var(--secondary-theme);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  font-family: inherit;
  letter-spacing: 0.03em;
  transition: color 250ms var(--cubic-anm), background-color 250ms var(--cubic-anm), box-shadow 250ms var(--cubic-anm);
}

.button__dropdown:hover, .button__dropdown:focus {
  color: var(--white-text);
  background-color: var(--blue-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.gallery__item {
  margin-top: 30px;
  margin-left: 30px;
}

.overlay__link {
  display: block;
}

.overlay__link:hover, .overlay__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay__border {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
}

.overlay__title {
  color: var(--main-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.overlay__description {
  color: var(--gray-text);
  font-size: 16px;
  line-height: 1.87;
}

.overlay {
  position: relative;
  transition: box-shadow 250ms var(--cubic-anm);
}

.overlay__box {
  position: absolute;
  overflow: hidden;
}

.overlay__txt {
  padding: 63px 24px;
  color: #fff;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--cubic-anm);
}

.overlay__link:hover .overlay__txt,
.overlay__link:focus .overlay__txt {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */