@import "./utils/veriables";
@import "./base/basestyle";


@import "./components/header";
@import "./components/hero";
@import "./components/modal";
@import "./components/content";
@import "./components/imgworks";
@import "./components/team";
@import "./components/company";
@import "./components/footer";
// portfolio_page
@import "./components/filters_btns";
@import "./components/gallery";

@import "./components/mobile_menu";