.company__list {
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.company__item {
    margin-left: 30px;
    margin-top: 30px;
    height: 92px;
    width: calc((100% - 60px) / 2);

    @media screen and (min-width: 768px) {
        width: calc((100% - 90px) / 3);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 180px) / 6);
    }
}


.company__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 100%;

    transition: border-color 250ms var(--cubic-anm);

    &:hover,
    &:focus {
        border-color: var(--blue-hover);
    }
}

.company__icon {
    fill: #afb1b8;
    transition: fill 250ms var(--cubic-anm);

    .company__link:hover &,
    .company__link:focus & {
        fill: var(--blue-hover);
    }
}