.content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.content {
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }
}

.content__list {
    @media screen and (min-width:768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.content__list {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }
}

.content__item {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.content__item {
    @media screen and(min-width: 768px) and (max-width: 1199px) {
        margin: 15px;
        width: calc((100% - 60px) / 2)
    }
}

.content__item {
    @media screen and (min-width: 1200px) {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}


.box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa;
    height: 120px;
    margin-bottom: 30px;
}

.box-icon__feature {
    width: 70px;
    height: 70px;
}

.content__subtitle {
    color: var(--main-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.content__subtitle {
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
    }
}

.content__text {
    color: var(--gray-text);
    line-height: 1.71;
    margin-top: 10px;
}