.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.button__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @media screen and (min-width: 768px ) {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    
}

.button__item {
    @media screen and (max-width: 767px) {
        margin-bottom: 10px;
    }
    margin-right: 8px;
}

.button__item:last-child {
    margin-right: 0;
}

.button__dropdown {
    padding: 4px 20px;
    border: none;

    color: var(--main-text);
    cursor: pointer;
    background-color: var(--secondary-theme);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;
    font-family: inherit;
    letter-spacing: 0.03em;

    transition: color 250ms var(--cubic-anm),
        background-color 250ms var(--cubic-anm), box-shadow 250ms var(--cubic-anm);

        &:hover,
        &:focus {
            color: var(--white-text);
            background-color: var(--blue-hover);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }
}