.header {
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #ececec;        
    }
}

.container__header {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }
}

.nav {
    display: flex;
    align-items: center;
}

.nav__header {
    display: flex;
    align-items: center;
    color: var(--main-text);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.icon {
    color: var(--blue-hover);
}

/* Navigation */
.nav__list {

    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 93px;
    }
    
}

.nav__item {
    @media screen and (min-width:768px) {
        margin-right: 50px;
        position: relative;

        &:last-child {
            margin-right: 0;
        }
    }
    
}

.nav__link {

    @media screen and (min-width: 768px) {
        color: var(--main-text);
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
        transition: color 250ms var(--cubic-anm);
        
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

}

.current {
    @media screen and (min-width: 1200px) {
        color: var(--blue-hover);
    }
    
}

.current::after {
    @media screen and (min-width: 1200px) {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--blue-bnt);
        position: absolute;
        border-radius: 2px;
        top: 275%;
    }
    
}

.contact__list {
    @media screen and (min-width: 768px) {
        display: flex;
    }
    
}

.contact__list {
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: 250px;
    }

}

.contact__item {
    @media screen and (min-width: 768px) {
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }
    }
    
}

.contact__link {

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        color: var(--gray-text);
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        
        transition: color 250ms var(--cubic-anm);
        
        &:hover,
        &:focus {
            color: var(--blue-hover);
        }
    }
    
}

.contact__icon {
    @media screen and (min-width: 768px) {
        fill: var(--gray-text);
        margin-right: 10px;        
        transition: fill 250ms var(--cubic-anm);
        
        .contact__link:hover &,
        .contact__link:focus & {
            fill: var(--blue-hover);
        }
    }
    
}
