.hero {

    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/background-hero.jpg);
    // background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark-background);
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    height: 100%;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/background-hero@2x.jpg);
        background-size: cover;
    }
}

// .hero {
//     @media screen and (min-width: 768px) {
//         background-image: linear-gradient(to right,
//             rgba(47, 48, 58, 0.4),
//             rgba(47, 48, 58, 0.4)),
//         url(../images/background-hero@2x.jpg);
//         background-size: 768px 400px;
//     }
// }

// .hero { 
//     @media screen and (min-width: 1200px)
//     and (min-width: 1200px)
//     and (min-width: 1200px) {
//         background-image: linear-gradient(to right,
//             rgba(47, 48, 58, 0.4),
//             rgba(47, 48, 58, 0.4)),
//         url(../images/background-hero@2x.jpg);
        
//     }
// }

.hero {
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}


.hero__title {
    color: var(--white-text);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__title {
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__btn {
    color: var(--white-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: inherit;
    margin-top: 30px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    background: var(--blue-bnt);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}