body {
    color: var(--white-theme);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
}

body.is-open {
    overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}



