:root {
    /* Основные шрифты */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    /* Фоны */
    --white-theme: #ffffff;
    --secondary-theme: #f5f4fa;
    --dark-background: #2f303a;

    /* Цвета текста */
    --main-text: #212121;
    --gray-text: #757575;
    --white-text: #ffffff;

    /* Эфект hover */
    --blue-hover: #2196f3;

    /*Фон кнопки  */
    --blue-bnt: #2196f3;

    // accen color
    --accent-color: #2196f3;

    /* cubic */
    --cubic-anm: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-btn__menu {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    & .nav-btn__close {
        display: none;
    }

    &.is-open .nav-btn__close {
        display: block;
    }

    &.is-open .nav-btn__burger {
        display: none;
    }
}

